html {
    box-sizing: border-box; 
    /* Это свойство определяет как будут вести себя размеры блока
   мировая практика */
}

*,
*::after,
*::before {
    box-sizing: inherit;
    /* мировая практика 
    Этот код CSS устанавливает правило, которое заставляет все элементы на веб-странице, 
    включая их специальные части (псевдоэлементы), следовать одному и тому же правилу расчета размеров.*/
    /*  Пример:
Представьте, что у вас есть коробки разного размера. 
Если вы знаете, как они измеряются, вам проще понять, как они будут выглядеть рядом друг с другом. 
Этот код помогает сделать так, чтобы все коробки (элементы) измерялись по одним и тем же правилам, 
что облегчает их расположение и визуальное восприятие.*/
}

body {
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    /* короче тут все шрифты и подключаем из гугл фонтс шрифт */
}

a {
    text-decoration: none;
    color: inherit; 
    /*  означает, что элемент будет наследовать цвет текста от родительского элемента
    это значит мы не в курсе какого цвета оно у меня, но я буду задавать тот цвет которого есть у body  */
}

ul {
    list-style: none;  /* убираем маркеры */
}

.container {
    /* в макете видим что ширина 1200 */
    /* теперь максимальная ширина изменяется 1200 - 40 = 1160 и это не очень, поэтому ставим не 1200, а 1240 */
    max-width: 1240px;
    margin: 0 auto;
    /* но если посмотреть дальше у второго и последующие макеты, можем заметить немного не приятную особенность. 
    Отступ крайних элементов до края экрана она где-то 20px, 10px, 20px и в целом можем указать это - 20px*/
    padding-left: 20px;
    padding-right: 20px;
}

/* распределим элементы */
.header__inner {
    min-height: 140px; /* в соотвествии с макетом размер находим */
    display: flex;
    justify-content: space-between; /* раскидываем элементы */
    align-items: center; /* центрируем все элементы по горизонтали */
    padding: 30px 0; 
    /* в макете снизу и сверху указано по 30 пикселей */
}

/* поскольку логотип меньше и мы выше оцентировали элементы за счет align-items: center лого не сцентрируется поскольку он маленький и придется искуственно его увеличим на 35 пикселей внешний нижний отступ*/

.logo {
    margin-bottom: 35px;
}

/* менюшка */
.menu__list {
    display: flex;
    align-items: center;
    gap: 0 65px; 
    /* Это свойство устанавливает расстояние между флекс-элементами. В данном случае:
    Первое значение 0 задает вертикальный промежуток (между строками, если они есть).
    Второе значение 65px задает горизонтальный промежуток между элементами (в строке). На макете мы видим расстояние между ними 65 пикселей */
    font-size: 18px;
    font-weight: 400;
}

/* менюшка с корзинкой, поиском и пользователь иконка */
.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px; /* 20 пикселей стоит между ними в макете */
}

/* для иконки поиска даем расстояние. В макете указано 100 пикселе1*/
.user-actions__item-search {
    margin-left: 100px;
}

/* следующая секция */
.top {
    background-image: url('./images/top-bg/jpg');
    background-repeat: no-repeat; /* Определяет, как фон будет повторяться. В данном случае no-repeat означает, что изображение не будет повторяться ни по горизонтали, ни по вертикали. */
    background-position: bottom center; /* Значение bottom center означает, что изображение будет размещено внизу по центру элемента. */
    background-size: cover; /* Определяет, как изображение будет масштабироваться для заполнения элемента.
Значение cover заставляет изображение полностью покрывать элемент */
}

.top__inner {
    min-height: 500px; /* по макету */
    color: white;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    /* размещаем элменты */
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;

}

.top__title {
    font-size: 60px;
    margin-bottom: 20px; /* по макету */
    max-width: 780px; /* по макету */
    line-height: 1;
    font-weight: 400;
}

.top__text {
    font-size: 24px;
    margin-bottom: 48px; /* по макету */
    max-width: 560px; /* по макету */
    line-height: normal;
}

.blockquote__text {
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-style: italic;
    margin: 150px auto; /* по макету 150px сверху и снизу*/
    max-width: 704px;
}

.assortiment {
    margin-bottom: 80px; /* по макету 150px*/
}

.assortiment__list{
    text-align: center;
    display: flex;
    gap: 0 40px;
    flex-wrap: wrap; 
}

.assortmenit__name {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 400;
}

.assortiment__img {
    width: 208px;
    height: 208px;
}

.reviews {
    background-color: #f7f2ea;
    padding-bottom: 60px 0;
}

.reviews__list {
    display: flex;
    gap: 0 26px;
}

.reviews__item {
    flex-basis: 280px;
}

.reviews__text {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.reviews__name {
    font-weight: 600;
}

.main-blog {
    padding: 150px 0;
}

.main-blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40 58px;
}

.main-blog__item {
    flex-basis: 542px;
    gap: 0 20px;
    display: flex;
}

.main-blog__item-content {
    display: flex;
    flex-direction: column;
}

.main-blog__title {
    min-height: 86px;
    margin-bottom: 10px;
    font-family: '';
    font-weight: 400;
    font-size: 24px;
}

.main-blog__item-author {
    font-size: 13px;
}

.main-blog__item-link::after {
    content: '';
    background-image: url('../images/');
    width: 5px;
    height: 10px;
    margin-left: 8px;
    bottom: 4px;
}

.main-blog__item-link {
    padding: 12px 41px;
    display: flex;
    justify-content: center;
    margin-top: 72px;
    border: 1px solid #151618;
    width: 150px;
}